{"cfg":{
/*// HUD //*/
"$hud.actionbar_text": true,
"$hud.hud_tip_text": true,
"$hud.title_text": true,
"$hud.subtitle_text": true,
"$hud.item_name_text": true,
"$hud.jukebox_text": true,
"$hud.chat_panel": 1,
"$hud.chat_panel.width": 0.37,
"$hud.chat_panel.height": 0.40,
"$hud.chat_panel.background_opacity": 0.00,
"$hud.paperdoll": 0,
"$hud.paperdoll.x_offset": 0.95,
"$hud.paperdoll.y_offset": 0.05,
"$hud.coordinate": 2,
"$hud.scoreboard": 1,
"$hud.scoreboard.numbers": false,
"$hud.scoreboard.background_opacity": 0.00,
/*// Utils //*/
"$utils.item_counter.handhold": true,
"$utils.durability_viewer": true,
"$utils.armor_hud": 1,
"$utils.armor_hud.x_offset": 0.57,
"$utils.armor_hud.y_offset": 0.87,
"$utils.direction_hud": 1,
"$utils.direction_hud.x_offset": 0.50,
"$utils.direction_hud.y_offset": 0.00
},"namespace":"xc_mod_menu"}