{"cfg":{
/*// HUD //*/
"$hud.actionbar_text": true,
"$hud.hud_tip_text": true,
"$hud.title_text": true,
"$hud.subtitle_text": true,
"$hud.item_name_text": true,
"$hud.jukebox_text": true,
"$hud.chat_panel": true,
"$hud.chat_panel.width": 0.37,
"$hud.chat_panel.height": 0.40,
"$hud.chat_panel.background_opacity": 0.00,
"$hud.paperdoll": 0,
"$hud.paperdoll.x_offset": 0.95,
"$hud.paperdoll.y_offset": 0.05,
"$hud.coordinate": 2,
"$hud.coordinate.position": 0
},"namespace":"xc_mod_menu"}